@{
    ViewData["Title"] = "Order List";
}

<div class="border backgroundWhite">
    <div class="d-flex justify-content-between mb-3">
        <div>
            <h2 class="text-primary">Order List</h2>
        </div>
        <div>
            @{ 
                var status = ViewData["Status"] as string;

                var all = "text-danger";
                var pending = "text-danger";
                var approved = "text-danger";

                if (status == "pending")
                {
                    pending = "bg-danger text-white";
                }
                else if (status == "approved")
                {
                    approved = "bg-danger text-white";
                }
                else
                {
                    all = "bg-danger text-white";
                }
            }
            <ul class="list-group list-group-horizontal-sm">
                <a style="text-decoration:none;" asp-controller="Order" asp-route-status="pending" asp-action="Index">
                    <li class="list-group-item @pending">Pending</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-route-status="approved" asp-action="Index">
                    <li class="list-group-item @approved">Approved</li>
                </a>
                <a style="text-decoration:none;" asp-controller="Order" asp-route-status="all" asp-action="Index">
                    <li class="list-group-item @all">All</li>
                </a>
            </ul>
        </div>
    </div>
    <br />
    <table id="tblData" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>E-mail</th>
                <th>Services</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts
{
    <script src="~/js/order.js"></script>
}
